@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Neucha&display=swap');

.regl-form{
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 60% 25%;
    align-items: center;
    margin-top: 48px;
    width: 80vw;
    height: 55vh;
    background-color: #212529;
    border: 3px solid #394984;
    color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 48px;
    padding: 1%;
}

.regl-rappel{
    align-items: center;
}

.bouton-regl{
    background-color: #212529;
    width: 130px;
    height:50px;
    border: 2px solid #394984;
    border-radius: 5px 30px 5px 5px;
    color: white;
    box-shadow: 4px 0px #00000040;
    text-align: end;
    padding: 10px;
    font-size: 1em;
}

.bouton-regl:hover{
    background-color: #394984;
    width: 130px;
    height:50px;
    border: 2px solid #212529;
    border-radius: 5px 30px 5px 5px;
    color: white;
    box-shadow: 4px 0px #00000040;
}

.nav-regl{
    background-color: #333333;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
}

#ong-regl-note{
    position:relative;
    z-index: 4;
    margin-left: 27%;
}

#ong-regl-tache{
    position: relative;
    z-index: 3;
    margin-left: -10%
}

#ong-regl-rappel{
    position: relative;
    z-index: 2;
    margin-left: -10%;
}

#ong-regl-RDV{
    position: relative;
    z-index: 1;
    margin-left: -10%;
}

.submit-button{
    grid-column: 1;
    grid-row: 3;
    margin-left: 75vw;
}

.form-regl-sup{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto 0% auto 0%
}

.btn-med{
    border-radius: 10px;
    border:none;
    box-shadow:  inset 0px 4px 20px 2px #FFFFFF40,  inset 0px 5px 15px 5px  #00000040;
    margin-right: 2%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.btn-archive{
    background-color: #CDD0D2;
    margin-left: 5%;
}

.btn-archive:hover{
    background-color: #394984;
    color:#CDD0D2
}

.btn-suppr{
    background-color: #C10000;
}

.btn-suppr:hover{
    background-color: #D86363;
}

.fa-box-archive, .fa-trash-can{
    color: #333333;
    font-size: 30px;
}

.fa-trash-can{
    color:#CDD0D2;
}

select{
    box-shadow: inset 0px 4px 4px #00000040;
    border-radius: 5px;
    background-color: #CDD0D2;
    width: 15vw;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 1.3em;
}

#modifNote{
    grid-column: 1 /span 2;
    grid-row: 2 /span 2;
    background-color: #CDD0D2;
    border-radius: 15px;
    resize: none;
    width: 95%;
    height: 90%;
    font-size: 2em;
    font-family: 'Neucha', cursive;
    box-shadow: inset 0px 4px 4px #00000040;
    margin: auto;
}

#modifTache{
    grid-column: 1;
    grid-row: 2 /span 2;
    background-color: #CDD0D2;
    border-radius: 15px;
    resize: none;
    width: 95%;
    height: 90%;
    font-size: 2em;
    font-family: 'Neucha', cursive;
    box-shadow: inset 0px 4px 4px #00000040;
    margin: auto;
}

#modifRappel{
    grid-column: 1;
    grid-row: 2 /span 2 ;
    background-color: #CDD0D2;
    border-radius: 15px;
    resize: none;
    width: 95%;
    height: 90%;
    font-size: 2em;
    font-family: 'Neucha', cursive;
    box-shadow: inset 0px 4px 4px #00000040;
    margin: auto;
}

#modifRDV{
    grid-column: 1;
    grid-row: 2 ;
    background-color: #CDD0D2;
    border-radius: 15px;
    resize: none;
    width: 95%;
    height: 90%;
    font-size: 2em;
    font-family: 'Neucha', cursive;
    box-shadow: inset 0px 4px 4px #00000040;
    margin: auto;
}

#histo-tache{
    grid-column: 2;
    grid-row: 1 /span 2;
    height: 100%;
}

#new-iter{
    grid-column: 2;
    grid-row: 3;
    width: 70%;
    height:100%;
    margin: auto;
}

#new-iter:first-child{
    height: 100%;
}

#new_iter{
    background-color: #394984;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    box-shadow:  inset 5px 0px 30px  #00000040,  inset -5px 0px 30px  #ffffff40;
    color:#ffffff;
    border: 0px;
    position: relative;
    font-size: 1em;
    margin-top: 5vh;
    align-self:flex-end
}

#new_iter:hover{
    background-color: #8E99C3;
    color:#212529;
}

#conteneur-histo{
    margin-top: 15px;
    padding: 5px;
    height: 80%;
    border-radius: 15px;
    background-color: #CDD0D2;
    box-shadow: inset 0px 4px 4px #00000040;

}

#container-lieuRDV{
    grid-column: 1;
    grid-row: 3;
    width: 95%;
    height: 100%;
    margin: auto;
}

#lieuRDV{
    background-color: #CDD0D2;
    border-radius: 15px;
    resize: none;
    width: 100%;
    height: 80%;
    font-size: 2em;
    font-family: 'Neucha', cursive;
    box-shadow: inset 0px 4px 4px #00000040;
}

.itération{
    display:flex;
    justify-content: space-between;
    background-color: #212529;
    border-radius: 10px;
    padding: 5px;
}

.dropdown{
    margin-left: 3%;
}

.datepicker-container{
    grid-row: 1/span 2;
    grid-column: 2;
}
#datepicker{
    margin: auto;
}

.ui-widget.ui-widget-content{
    margin:auto auto;
    border-radius: 10%;
    padding:2%;
    padding-top: 4%;
    width: 85%;
    background-color: #CDD0D2;
}

.ui-datepicker .ui-datepicker-title select{
    font-family: 'Neucha', cursive;
}

thead{
    font-size: 1em;
}

.ui-corner-all{
    background-color: #CDD0D2;
}

.ui-datepicker .ui-datepicker-header{
    background-color: #394984;
    border: 2px solid #333333;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background-color: #394984;
    border: 1px solid #212529;
    color: #CDD0D2;
    
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #CDD0D2;
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #8E99C3;
	background: #333333;
	font-weight: normal;
	color: #CDD0D2;
}

.ui-state-default{
    display: flex;
    border: 2px solid #212529;
    border-radius: 30px;
    margin: 5px;
    font-size: 1em;
    background-color: #394984;
}

.ui-state-default:hover{
    background-color: #8E99C3;
    color: #212529;
}

.timepicker-container{
    grid-row: 3;
    grid-column: 2;
    width: 100%;
}

.timepicker, .timepicker1heures, .timepicker1minutes {
    background-color: #394984;
    border: 3px solid #333333;
    border-radius: 10px;
    text-align: center;
    color:#CDD0D2;
    font-size: 0.8em;
    margin: auto;
    width: 35%;
}

.ui-menu-item .ui-corner-all{
    background-color: #394984;
    color: #CDD0D2;
    margin: 10px;
    border: 2px solid #212529;
}

.ui-timepicker-container{
    border:none !important;
    background-color: #CDD0D2 !important;
    height: 18% !important;
    width: 8% !important;
}

.timepicker-subcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #CDD0D2;
    width: 80%;
    height: 50%;
    padding: 2%;
    border-radius: 10px;
    color:#212529;
    font-size: 2em;
    margin: auto;
}

@media screen and (max-width: 900px){
    .btn-med{
        width: 40px;
        height: 40px;
    }

    .fa-box-archive, .fa-trash-can{
        font-size: 20px;
    }

    .itération{
        flex-direction: column;
    }


    .form-regl-sup{
        justify-content: space-between;
    }

    #ong-regl-note{
        margin-left: 10%;
    }
}