{% extends 'main.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="./asset/style/inscriCo.css">
    {{parent()}}
{% endblock css %}


{% block content %}
    <div class="valoriser">
        <form method="post" action="">
            <div class="form_input">
                <label for="login">Login :</label>
                <input name="login" type="text">
            </div>
            <div class="form_input">
                <label for="mdp">Mot de passe :</label>
                <input name="mdp" type="password">
            </div>
            <div class="form_valide">
                <a href="./inscription">Inscription</a>
                <input name="connexion" type="submit" value="Connexion" class="submit-button">
            </div>
        </form>
    </div>
{% endblock content %}