{% extends 'main.html.twig' %}
{% import './macro/macro.html.twig' as mac %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="./asset/style/inscriCo.css">
{% endblock css %}


{% block content %}
    <div class="valoriser">
        <form method="post" action="">
            {{mac.input('login', 'Login : ', 'mail')}}
            {{mac.input('mdp', 'Mot de passe : ', 'password')}}
            <div class="form_valide">
                <a href="./inscription">Inscription</a>
                <input name="connexion" type="submit" value="Connexion" class="submit-button">
            </div>
            

        </form>
    </div>
{% endblock content %}