{% extends 'main.html.twig' %}
{% import './macro/macro.html.twig' as mac %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="./asset/style2/inscriCo.css">
{% endblock css %}



{% block content %}
    
        <form method="post" action="" class="valoriser flex-col" id="form-connexion">
            {{mac.input('login', 'Login : ', 'mail')}}
            {{mac.input('mdp', 'Mot de passe : ', 'password')}}
            <div class="form_valide flex-row">
                <a href="./inscription">Inscription</a>
                <input name="connexion" type="submit" value="Connexion" class="submit-button">
            </div>
        </form>
    </div>
{% endblock content %}