{% extends 'main.html.twig' %}
{% import './macro/macro.html.twig' as mac %}



{% block content %}
<div class="valoriser">
    <form method="post" action="">
        {{mac.input('mail', 'Votre e-mail : ', 'mail')}}
        {{mac.input('conf_mail', 'Confirmer votre e-mail : ', 'mail')}}
        {{mac.input('mdp', 'Mot de passe : ', 'password')}}
        {{mac.input('conf_mdp', 'Confirmer votre mot de passe : ', 'password')}}
        <div class="form_valide">
            <a href="./">J'ai déja un compte</a>
            <input type="submit" value="Inscription" class="submit-button" name="inscription">
        </div>
    </form>
</div>
{% endblock content %}