<!DOCTYPE html>
<html lang="fr">

{% block head %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="./asset/style2/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        {% endblock css %}
        <title>GDA</title>
    </head>

{% endblock head %}

{% block body %}

{% block header %}
    <header>
        <img src="./asset/images/Logo GDA.png" alt="Logo de GDA" id="logo">
        <h1>{{ titre }}</h1>
    </header>
{% endblock header %}



{% block nav %}

    <nav id="nav-princ" class="collapse-height">
        <form method="post" action="">
            <div id='nav-lat' class="flex-col">
                <div class="navbar-sup">
                    <button name="compte" type="submit" class="onglet-up" id="onglet1">Compte</button>
                    <button name="activites" type="submit" class="onglet-up"  id="onglet2">Activités</button>
                    <button name="projets" type="submit" class="onglet-up" id="onglet3">Projets</button>
                </div>
                <button type="submit" class="nav-compte-mid" id="onglet4"><i class="fa-solid fa-circle-plus"></i></button>
                <div class="navbar-down">
                    <button name="rdv" type="submit" class="onglet-down" id="onglet8">RDV</button>
                    <button name="rappel" type="submit" class="onglet-down" id="onglet7">Rappel</button>
                    <button name="tache" type="submit" class="onglet-down" id="onglet6">Taches</button>
                    <button name="note" type="submit" class="onglet-down" id="onglet5">Notes</button>
                </div>
            </div>
        </form>
    </nav>

    <nav id="nav-princ"class="hidden-height">
        <form method="post" action="">
        <div id='nav-lat' class="flex-col">
            <div id="navbar-sup-collapse">
                <button type="submit" class="onglet-up onglet-collapse-sup" id="Mcompte"><i class="fa-solid fa-bars"></i></button>
                <div class="navbar-sup" id="extend-nav-sup">
                    <button name="compte" type="submit" class="onglet-up" id="onglet1">Compte</button>
                    <button name="activites" type="submit" class="onglet-up" id="onglet2">Activités</button>
                    <button name="projets" type="submit" class="onglet-up" id="onglet3">Projets</button>
                </div>
            </div>
            <button type="submit" class="nav-compte-mid" id="onglet4"><i class="fa-solid fa-circle-plus"></i></button>
            <div id="navbar-down-collapse">
                <button type="submit" class="onglet-down onglet-collapse-down" id="Mliste"><i class="fa-solid fa-bars"></i></button>
                <div class="navbar-down" id="extend-nav-down">
                    <button name="rdv" type="submit" class="onglet-down" id="onglet8">RDV</button>
                    <button name="rappel" type="submit" class="onglet-down" id="onglet7">Rappel</button>
                    <button name="tache" type="submit" class="onglet-down" id="onglet6">Taches</button>
                    <button name="note" type="submit" class="onglet-down" id="onglet5">Notes</button>
                </div>
            </div>
        </form>
        
    </nav>

{% endblock nav %}

<div id='content'>
{% block content %}
{% endblock content %}
</div>


{% block footer %}

    <footer>
    {% block message %}
            {{ message|raw }}
    {% endblock %}
            
    </footer>

{% endblock footer %}

{% block script %}
    <script src="./asset/script/navbar.js"></script>
    <script>
        extendNav('#navbar-sup-collapse','#Mcompte','#extend-nav-sup','15vh', '50vh');
        extendNav('#navbar-down-collapse','#Mliste','#extend-nav-down','15vh', '60vh');
    </script>
{% endblock script %}

{% endblock body %}