{% extends 'main.html.twig' %}

{% block nav  %}

    <nav class="nav-princ collapse-height">
        <form method="post" action="">
        <div class="navbar-sup">
            <button name="compte" type="submit" class="onglet-up onglet1">Compte</button>
            <button name="activites" type="submit" class="onglet-up onglet2">Activités</button>
            <button name="projets" type="submit" class="onglet-up onglet3">Projets</button>
        </div>
        <button type="submit" class="nav-compte-mid onglet4"><i class="fa-solid fa-circle-plus"></i></button>
        <div class="navbar-down">
            <button name="rdv" type="submit" class="onglet-down onglet8">RDV</button>
            <button name="rappel" type="submit" class="onglet-down onglet7">Rappel</button>
            <button name="tache" type="submit" class="onglet-down onglet6">Taches</button>
            <button name="note" type="submit" class="onglet-down onglet5">Notes</button>
        </div>
        </form>
    </nav>

    <nav class="nav-princ hidden-height">
        <form method="post" action="">
        <div id="navbar-sup-collapse">
            <button type="submit" class="onglet-up onglet-collapse-sup" id="Mcompte"><i class="fa-solid fa-bars"></i></button>
            <div class="navbar-sup" id="extend-nav-sup">
                <button name="compte" type="submit" class="onglet-up onglet1">Compte</button>
                <button name="activites" type="submit" class="onglet-up onglet2">Activités</button>
                <button name="projets" type="submit" class="onglet-up onglet3">Projets</button>
            </div>
        </div>
        <button type="submit" class="nav-compte-mid onglet4"><i class="fa-solid fa-circle-plus"></i></button>
        <div id="navbar-down-collapse">
            <button type="submit" class="onglet-down onglet-collapse-down" id="Mliste"><i class="fa-solid fa-bars"></i></button>
            <div class="navbar-down" id="extend-nav-down">
                <button name="rdv" type="submit" class="onglet-down onglet8">RDV</button>
                <button name="rappel" type="submit" class="onglet-down onglet7">Rappel</button>
                <button name="tache" type="submit" class="onglet-down onglet6">Taches</button>
                <button name="note" type="submit" class="onglet-down onglet5">Notes</button>
            </div>
        </form>
        </div>
    </nav>

{% endblock nav %}

{% block script %}
    <script src="./asset/script/navbar.js"></script>
    <script>
        extendNav('#navbar-sup-collapse','#Mcompte','#extend-nav-sup','15vh', '50vh');
        extendNav('#navbar-down-collapse','#Mliste','#extend-nav-down','15vh', '60vh');
    </script>
{% endblock script %}