{% extends 'main.html.twig' %}
{% import './macro/macro.html.twig' as mac %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="./asset/style2/nouvNote.css">
{% endblock css %}

{% block content %}
<form method="post" action="" class="flex-col">
    <div id="form-haut" class="valoriser flex-row">
        {{mac.texteArea('addNote', "Ecrivez une note ici", null)}}
    </div>

    <div id ="form-bas" class="flex-row">
        <div id="message">
            {{message|raw}}
        </div>
        <button type="submit" name="valider" class="submit-button">Valider</button>
    </div>
</form>
{% endblock content %}

