{% extends 'main.html.twig' %}

{% block css %}
{{parent()}}
    <link rel="stylesheet" href="./asset/style/accueil.css">
    
{% endblock css %}

{% block content %}
    
        <div class="valoriser">
            <form method="post" action="">
                    <textarea name="addNote" placeholder="Ecrivez une note" id="addNote"></textarea>
                </div>
                <button type="submit" name="valider" class="submit-button">Valider</button>
            </form>
        </div>
{% endblock content %}

