{% extends 'main.html.twig' %}

{% block css %}
{{parent()}}
<link rel="stylesheet" href="./asset/style2/reglages.css">
{% endblock css %}


{% block content %}
    {% block navireglage %}
    <form action="" method="post" id="nav-regl">
        <button class="bouton-regl" id="ong-regl-note" type="submit" name="regl-note">Note</button>
        <button class="bouton-regl" id="ong-regl-tache" type="submit" name="regl-tache">Tache</button>
        <button class="bouton-regl" id="ong-regl-rappel" type="submit" name="regl-rappel">Rappel</button>
        <button class="bouton-regl" id="ong-regl-RDV" type="submit" name="regl-RDV">RDV</button>
    </form>
    {% endblock navireglage %}

    {% block triage %}
    
    <div id="form-haut" class="flex-row">
        <div id="dropdown-group" class="flex-row">
            <div class='dropdown'>
                <h3>Activités :</h3>
                <select name='activite' id='select-acti'>
                    <option value='aucune'>Choisissez une activité</option>
                    <option value='acti-choix1'>valeur 1</option>
                    <option value='acti-choix2'>valeur 2</option>
                    <option value='acti-choix3'>valeur 3</option>
                </select>
            </div>

            <div class='dropdown'>
                <h3>Projets :</h3>
                <select name='projet' id='select-proj'>
                    <option value='aucune'>Choisissez un projet</option>
                    <option value='proj-valeur 1'>valeur 1</option>
                    <option value='proj-valeur 2'>valeur 2</option>
                    <option value='proj-valeur 3'>valeur 3</option>
                </select>
            </div>
        </div>

        <div id="bouton-group" class="flex-row">
            <button type="submit" class="btn-med" id="btn-archive" name="archiver"><i class="fa-solid fa-box-archive"></i></button>
            <button type="submit" class="btn-med" id="btn-suppr" name="supprimer"><i class="fa-solid fa-trash-can"></i></button>
        </div>
    </div>
    {% endblock triage %}

    
{% endblock content %}