

{% extends 'reglages.html.twig' %}




{% import './macro/macro.html.twig' as mac %}

{% block css %}
{{parent()}}
<link rel='stylesheet' href='./asset/style2/reglageNote.css'>
{% endblock css %}

{% block content %}

    {% block navireglage %}
    {{parent()}}
    {% endblock navireglage %}

<form action='' method='post' class='valoriser'>

    {% block triage %}
    {{parent()}}
    {% endblock triage %}

    {% block formulaire %}
    <div id="form-bas" class="flex-row">
        {{mac.texteArea('modifNote',null, valueNote)}}
    </div>
    {% endblock formulaire %}


<div id="validation" class="flex-row">
    <input name="valider" type="submit" value="valider" class="submit-button">
</div>

</form>



{% endblock content %}

