#content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-haut{
    width: 90%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#addNote{
    width: 90%;
    height: 85%;
}

#form-bas{
    height: 15%;
    justify-content: space-around;
    align-items: center;
}

#message{
    width: 30%;
    height: 50%;
    text-align: center;
}

form{
    width: 95%;
    height: 95%;
    justify-content: space-evenly;
}

