#content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-haut{
    width: 90%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#addNote{
    width: 90%;
    height: 85%;
}

#form-bas{
    width: 80%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

#message{
    width: 70%;
    
    border: 5px solid red;
}

form{
    width: 95%;
    height: 95%;
}

