select{
    margin-right: 100px;
    padding-right: 100px;
}

#content{
    flex-direction: column;
}

#nav-regl{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 10%;
    width: 25%;
}

.bouton-regl{
    background-color: #212529;
    width: 130px;
    height:50px;
    border: 2px solid #394984;
    border-radius: 5px 30px 5px 5px;
    color: white;
    box-shadow: 4px 0px #00000040;
    text-align: end;
    padding: 10px;
    font-size: 1em;
}

.bouton-regl:hover{
    background-color: #394984;
    border: 2px solid #212529;
}

#ong-regl-note{
    position:relative;
    z-index: 4;
}

#ong-regl-tache{
    position: relative;
    z-index: 3;
    margin-left: -6%
}

#ong-regl-rappel{
    position: relative;
    z-index: 2;
    margin-left: -6%;
}

#ong-regl-RDV{
    position: relative;
    z-index: 1;
    margin-left: -6%;
}

.btn-med{
    font-size: 1.2em;
    padding: 5%;
    border-radius: 10px;
    border:none;
    box-shadow:  inset 0px 4px 20px 2px #FFFFFF40,  inset 0px 5px 15px 5px  #00000040;
}

#form-haut{
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#dropdown-group{
    width: 70%;
    justify-content: flex-start;
}

#bouton-group{
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

#btn-archive{
    color:#333333;
    background-color: #CDD0D2;
}

#btn-archive:hover{
    background-color: #394984;
}

#btn-suppr{
    color:#CDD0D2;
    background-color: #C10000
}

#btn-suppr:hover{
    background-color: #D86363
}