.valoriser{
    width: 80%;
    height: 70%;
    margin-top: -1px;
    align-items: center;
}

#form-bas{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

#modifNote{
    width: 90%;
    height: 90%;
}


#validation{
    width: 80%;
    height: 20%;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
}