<link rel="stylesheet" href="./asset/style/compte.css">
<div class="container">
    <div>
        <form id="modifCompte">
            <h4>Modifier votre e-amil</h4>
            <div id="nouveauMail">
                <label for="nouvMail">nouvel e-mail :</label>
                <input name="nouvMail" type="email" id="">
                <label for="nouvMailConf">confirmer l'e-mail :</label>
                <input type="email" name="nouvMailConf" id="">
            </div>
            <h4>Modifier votre mot de passe</h4>
            <div id="nouveauMdp">
                <label for="nouvMdp">nouveau mot de passe :</label>
                <input type="password" name="nouvMdp" id="">
                <label for="nouvMdpConf">Confirmer le nouveau mot de passe :</label>
                <input type="password" name="nouvMdpConf" id="">
            </div>
            <label for="mdp">tapez votre mot de passe actuel</label>
            <input type="password" name="mdp" id="">
            <input type="submit" value="Valider">
        </form>
    </div>

    <div>
        <nav class="nav-regl">
            <form method="post" action="">
                <button class="bouton-regl" id="ong-regl-proj" type="submit" name="regl-proj">Projets</button>
                <button class="bouton-regl" id="ong-regl-acti" type="submit" name="regl-acti">Activités</button>
            </form>
        </nav>
    


