    <div class="form-regl-sup">
        <div class="dropdown">
            <h3>Activités :</h3>
            <form action="" method="post" class="">
            <select name="activite" id="select-acti">
                <option value="aucune">Choisissez une activité</option>
                <option value="acti-choix1">choix 1</option>
                <option value="acti-choix2">choix 2</option>
                <option value="acti-choix3">choix 3</option>
            </select>
        </div>

        <div class="dropdown">
            <h3>Projets :</h3>
            <select name="projet" id="select-proj">
                <option value="aucune">Choisissez un projet</option>
                <option value="proj-choix 1">choix 1</option>
                <option value="proj-choix 2">choix 2</option>
                <option value="proj-choix 3">choix 3</option>
            </select>
        </div>

        <button type="submit" class="btn-med btn-archive" name="archiver"><i class="fa-solid fa-box-archive"></i></button>
        <button type="submit" class="btn-med btn-suppr" name="supprimer"><i class="fa-solid fa-trash-can"></i></button>
    </div>
        <textarea name="modifNote" placeholder="Ecrivez une note" id="modifNote"></textarea>





















































        