<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asset/style/style.css">
    <title>Acceuil</title>
</head>

<header>
    <img src="./asset/images/Logo GDA.png" alt="Logo de GDA" id="logo">
    <h1>Prise de note</h1>
</header>

<body>

    <nav>
        <div class="navbar-sup">
            <button type="submit" class="onglet-up onglet1">Compte</button>
            <button type="submit" class="onglet-up onglet2">Activités</button>
            <button type="submit" class="onglet-up onglet3">Projets</button>
        </div>
        <button type="submit" class="nav-compte-mid onglet4">+</button>
        <div class="navbar-down">
            <button type="submit" class="onglet-down onglet5">Notes</button>
            <button type="submit" class="onglet-down onglet6">Taches</button>
            <button type="submit" class="onglet-down onglet7">Rappel</button>
            <button type="submit" class="onglet-down onglet8">RDV</button>
        </div>
    </nav>